
@()

@import utils.MenuType._

@siteLayout(Messages("devfarm.latest"), SITE_HOME) {

    <div>
        <button class="btn-transparent" id="toggleIntro"></button>
    </div>
    <div class="page-wrap-outer">
        <div class="page-wrap">
            @views.html.common.mySeriesMenuTab(TAB_LATESTS)
        </div>
    </div>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/lib/jquery.pageslide.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/service/yona.twoColumnMode.js")"></script>
    <script type="text/javascript">
        $(function(){

            // Show side bar menu default and focus to search box
            // Also, see layout.scala.html for normal user menu click !!
            var requiredLoggedIn = $("#required-logged-in").length === 1;
            if(!requiredLoggedIn){
                var viewSize = $(window).width();
                if( viewSize > 720) {
                    $("#mySidenav").width("420px").css("border", "1px solid #ccc");
                    setTimeout(function () {
                        $("#main").off("click");
                    }, 1000);
                    $(".search-input").focus();
                } else {
                    $("#mySidenav").width("100vw").css("border", "1px solid #ccc");
                }
            }

            if ($(".admin-logged-in-affix").length === 1) {
                $(".sidenav").css("top", "84px");
            }

            var $setDefaultLoginPage = $("#setDefaultLoginPage");
            $setDefaultLoginPage.on('click', function(){
                $.post("@routes.UserApp.setDefaultLoginPage()?path=" + $setDefaultLoginPage.data("url"))
                        .done(function (data) {
                            $yobi.notify("Set to default: " + data.defaultLoginPage, 3000);
                            $setDefaultLoginPage.hide();
                        })
                        .fail(function (data) {
                            $yobi.alert("set Default page failed: " + data);
                        });
            });
        });
    </script>
}