
@()

@import utils.MenuType._
@import utils.TemplateHelper._
@import utils.JodaDateUtil

@orgDevFarm = @{
    DevFarm.getOrganization()
}

@orgESC = @{
    ESC.getOrganization()
}

@getPopupTitle(org: Organization) = { @if(User.enrolled(org)) { @Messages("organization.you.want.to.be.a.member", org.name) } else { @Messages("organization.you.may.want.to.be.a.member", org.name) } }
@getRequestUrl(org: Organization) = { @if(User.enrolled(org)) { @routes.EnrollOrganizationApp.cancelEnroll(org.name) } else { @routes.EnrollOrganizationApp.enroll(org.name) } }
@getClassName(org: Organization) = { @if(User.enrolled(org)) { yobicon-removefriend } else { yobicon-addfriend } }
@getEnrollmentButtonTitle(org: Organization) = { @if(User.enrolled(org)) { @Messages("button.cancel.enrollment") } else { @Messages("button.new.enrollment") } }
@getEnrollmentHelp(org: Organization) = { @if(User.enrolled(org)) { @Messages("organization.member.enrollment.help.after") } else { @Messages("organization.member.enrollment.help.before") } }

@noticeProject = @{
    Project.findByOwnerAndProjectName(DevFarm.ORGANIZATION_NAME, DevFarm.NOTICE_PROJECT_NAME)
}

@noticePosts = @{
    Posting.findRecentlyCreated(noticeProject, DevFarm.NOTICES_LATEST)
}

@latestPosts = @{
    DevFarm.getLatestPosts();
}

@orgESCProjects = @{
    orgESC.getVisibleProjects(UserApp.currentUser())
}

@siteLayout(Messages("devfarm.latest"), SITE_HOME) {

    @if(UserApp.currentUser() == User.anonymous){
        @views.html.index.partial_intro()
    } else {

    <div class="page-wrap-outer">
        <div class="page-wrap">
            <div class="site-guide-outer hide">

            @if( orgDevFarm != null) {

                <h3 class="title">
                    <span><strong>@Messages("app.welcome",utils.Config.getSiteName)</strong> - @Messages("app.description")</span>
                </h3>
                <table class="welcome-table table borderless">
                    <tr>
                        <td>@Html(Messages("devfarm.description"))</td>
                    </tr>
                    @*<tr class="bubble-wrap gray">*@
                    @*<td>@Html(Messages("devfarm.description2"))</td>*@
                    @*</tr>*@
                    @*<tr class="bubble-wrap gray">*@
                    @*<td>@Html(Messages("devfarm.description3"))</td>*@
                    @*</tr>*@
                </table>

                @if( DevFarm.isAdmin(UserApp.currentUser) || DevFarm.isMember(UserApp.currentUser) ) {
                    @if( noticeProject != null ) {
                        <div class="title_area">
                            <h2 class="pull-left">@noticeProject.name</h2>
                        </div>
                        @if( noticePosts.isEmpty() ) {
                            <div class="error-wrap">
                                <i class="ico ico-err1"></i>
                                <p>@Messages("post.is.empty")</p>
                            </div>
                        } else {
                            <ul class="post-list-wrap">
                            @for(post <- noticePosts) {
                                @views.html.board.partial_list(post, noticeProject)
                            }
                            </ul>
                        }
                    }

                } else {

                    @if( OrganizationUser.isGuest(orgDevFarm, UserApp.currentUser)) {
                        <div class="error-wrap" style=" padding: 70px 0px 150px 0px">
                            <p>@Messages("devfarm.forbidden", orgDevFarm.name)</p>
                            <p class="message">@Messages("devfarm.enroll.message", orgDevFarm.name)</p>
                            <div class="project-util-wrap" style="position: absolute;
                                left: 50%;
                                transform: translateX(-50%);">
                                <ul class="project-util">
                                    <button class="ybtn ybtn-small @if(User.enrolled(orgDevFarm)) { ybtn-info } dropdown-toggle" type="button" data-toggle="dropdown">
                                        <i class="yobicon-addfriend"></i> @Messages("organization.member.enrollment.title")
                                    </button>
                                    <div class="dropdown-menu flat right title">
                                        <div class="pop-title">@getPopupTitle(orgDevFarm)</div>
                                        <div class="pop-content">
                                        @getEnrollmentHelp(orgDevFarm)
                                        </div>
                                        <div class="pop-content btn-wrap">
                                            <a class="ybtn @if(!User.enrolled(orgDevFarm)) { ybtn-info } enrollBtn" href="@getRequestUrl(orgDevFarm)">
                                                <i class="@getClassName(orgDevFarm)"></i>
                                                @getEnrollmentButtonTitle(orgDevFarm)
                                            </a>
                                        </div>
                                    </div>
                                </ul>
                            </div>
                        </div>
                    }

                }

            } else {

                <div class="error-wrap">
                    <p>@Messages("devfarm.nogroup", DevFarm.ORGANIZATION_NAME)</p>
                    <span><a href="@routes.OrganizationApp.newForm()" class="ybtn ybtn-success">
                    @Messages("title.newOrganization")
                    </a></span>
                </div>

            }

            @if( ESC.WELCOME_SHOW && orgESC != null) {

                @if( ESC.WELCOME_IN_PERIOD ) {

                    @if( ESC.isAdmin(UserApp.currentUser) || ESC.isMember(UserApp.currentUser) ) {

                        @if(orgESCProjects.isEmpty()) {

                            <div class="error-wrap">
                                <p>@Html(Messages("esc.noproject"))</p>
                            </div>

                        } else {

                            <ul class="all-projects" style="margin-bottom: -1px;">
                            @for(project <- orgESCProjects) {
                                <li class="project" data-item="project-item" data-value="@project.name @project.overview">
                                    <div class="info-wrap">
                                        <div class="owner-avatar-wrap hide-in-mobile">
                                            <a href="@routes.ProjectApp.project(project.owner,project.name)">
                                            @if(hasProjectLogo(project)){<img src="@urlToProjectLogo(project)" alt="@project" +
                                                ".name"/>}
                                            </a>
                                        </div>
                                        <div style="float:left">
                                            <div class="header">
                                                <a href="@routes.ProjectApp.project(project.owner, project.name)" class="black">@project.name</a>
                                                @if(project.isForkedFromOrigin()){
                                                    <span class="small-font blue-txt">
                                                        <a class="origin-title" href='@routes.ProjectApp.project(project.originalProject.owner, project.originalProject.name)'>
                                                            <i class="yobicon-split"></i>
                                                            @project.originalProject.owner / @project.originalProject.name
                                                        </a>
                                                    </span>
                                                }

                                                @if(project.isPrivate){ <i class="yobicon-lock yobicon-small"></i> }
                                                @if(project.isProtected){ <span class="project-protected" title="Group Project">G</span> }
                                                @for(label <- project.labels) {
                                                    <a class="project-label @label.category.toLowerCase()" href="@routes.ProjectApp.projects()?labelIds=@label.id">@label.name</a>
                                                }
                                            </div>
                                            <div class="desc">
                                            @project.overview
                                            </div>
                                            <p class="name-tag">by <a href="@routes.UserApp.userInfo(project.owner)" class="owner-name-small">@project.owner</a>
                                                at <strong title="@JodaDateUtil.getDateString(project.createdDate)">@agoOrDateString(project.createdDate)</strong> <span class="small-font">@if(project.lastPushedDateAgo() != null) {, @Messages("project.codeUpdate") <strong title="@JodaDateUtil.getDateString(project.lastPushedDate)">@agoOrDateString(project.lastPushedDate)}</strong></span>
                                        </p>
                                        </div>
                                    </div>
                                    <div class="stats-wrap pull-right">
                                        <div class="members">
                                            <ul class="unstyled">
                                            @for(member <- User.findUsersByProject(project.id)){
                                                @if(member.loginId != project.owner){
                                                    <li>
                                                        <a href="@routes.UserApp.userInfo(member.loginId)" class="avatar-wrap">
                                                            <img src="@member.avatarUrl" alt="@member.name">
                                                        </a>
                                                    </li>
                                                }
                                            }
                                            </ul>
                                            <p>
                                                @Html(Messages("project.onmember", User.findUsersByProject(project.id).size))
                                            <i class="yobicon-eye"></i> @Html(Messages("project.onwatching", project.getWatchingCount))
                                                @if(User.isWatching(project)) {
                                                    <i class="yobicon-lightbulb ramp-on" data-toggle="tooltip" title="@Messages("project.default.group.watching")"></i>
                                                } else {
                                                    <i class="yobicon-lightbulb ramp-off" data-toggle="tooltip" title="@Messages("project.you.are.not.watching", "")"></i>
                                                }
                                            </p>
                                        </div>
                                    </div>
                                </li>
                            }
                            </ul>

                        }

                    } else {

                        @if( OrganizationUser.isGuest(orgESC, UserApp.currentUser)) {
                            <div class="error-wrap" style=" padding: 70px 0px 150px 0px">
                                <p>@Messages("devfarm.forbidden", orgESC.name)</p>
                                <p class="message">@Messages("devfarm.enroll.message", orgESC.name)</p>
                                <div class="project-util-wrap" style="position: absolute;
                                    left: 50%;
                                    transform: translateX(-50%);">
                                    <ul class="project-util">
                                        <button class="ybtn ybtn-small @if(User.enrolled(orgESC)) { ybtn-info } dropdown-toggle" type="button" data-toggle="dropdown">
                                            <i class="yobicon-addfriend"></i> @Messages("organization.member.enrollment.title")
                                        </button>
                                        <div class="dropdown-menu flat right title">
                                            <div class="pop-title">@getPopupTitle(orgESC)</div>
                                            <div class="pop-content">
                                            @getEnrollmentHelp(orgESC)
                                            </div>
                                            <div class="pop-content btn-wrap">
                                                <a class="ybtn @if(!User.enrolled(orgESC)) { ybtn-info } enrollBtn" href="@getRequestUrl(orgESC)">
                                                    <i class="@getClassName(orgESC)"></i>
                                                    @getEnrollmentButtonTitle(orgESC)
                                                </a>
                                            </div>
                                        </div>
                                    </ul>
                                </div>
                            </div>
                        }

                    }

                } else {

                    <h3 class="title">
                        <span><strong>@ESC.ORGANIZATION_NAME</strong> - @Messages("esc.fullName")</span>
                    </h3>
                    <table class="welcome-table table borderless">
                        <tr>
                            <td>@Html(Messages("esc.description"))</td>
                        </tr>
                        <tr class="bubble-wrap gray" style="color=#999">
                            <td>@Html(Messages("esc.description2", routes.OrganizationApp.organization(ESC.ORGANIZATION_NAME), ESC.ORGANIZATION_NAME))</td>
                        </tr>
                    </table>

                }

            }

            </div>
            <div class="guide-toggle">
                <button class="btn-transparent" id="toggleIntro"><i class="yobicon-resizev"></i></button>
            </div>
            <div class="page on-fold-intro">

                <div class="row-fluid content-container">
                    <div class="span8 main-stream">

                        @views.html.common.mySeriesMenuTab(TAB_LATESTS)

                        @if( DevFarm.isAdmin(UserApp.currentUser) || DevFarm.isMember(UserApp.currentUser) ) {

                            @if( latestPosts.isEmpty() ){
                                <div class="error-wrap">
                                    <i class="ico ico-err1"></i>
                                    <p>@Messages("post.is.empty")</p>
                                </div>
                            } else {
                                <ul class="post-list-wrap">
                                    @for(post <- latestPosts) {
                                        @views.html.organization.group_board_list_partial(post, post.project)
                                    }
                                    <li><a href="@routes.BoardApp.organizationBoards(orgDevFarm.name)" id="latests-more" class="ybtn">More</a></li>
                                </ul>
                            }

                        }

                    </div>
                    <div class="span4 index-menu right-menu span-hard-wrap">
                    </div>
                </div>

            </div>

        </div>
    </div>

    <script type="text/javascript">
        $(function(){
            $("#toggleIntro").click(function(){
                var $outerGuide = $(".site-guide-outer");
                $outerGuide.toggleClass("hide");
                localStorage.setItem("yobi-intro", !$outerGuide.hasClass("hide"));
            });

            if(localStorage.getItem("yobi-intro") != "false"){
                $(".site-guide-outer").removeClass("hide");
            }

            // Show side bar menu default and focus to search box
            // Also, see layout.scala.html for normal user menu click !!
            var requiredLoggedIn = $("#required-logged-in").length === 1;
            if(!requiredLoggedIn){
                var viewSize = $(window).width();
                if( viewSize > 720) {
                    $("#mySidenav").width("420px").css("border", "1px solid #ccc");
                    setTimeout(function () {
                        $("#main").off("click");
                    }, 1000);
                    $(".search-input").focus();
                } else {
                    $("#mySidenav").width("100vw").css("border", "1px solid #ccc");
                }
            }

            if ($(".admin-logged-in-affix").length === 1) {
                $(".sidenav").css("top", "84px");
            }

            var $setDefaultLoginPage = $("#setDefaultLoginPage");
            $setDefaultLoginPage.popover();
            $setDefaultLoginPage.on('click', function(){
                $.post("@routes.UserApp.setDefaultLoginPage()?path=" + $setDefaultLoginPage.data("url"))
                        .done(function (data) {
                            $yobi.notify("Set to default: " + data.defaultLoginPage, 3000);
                            $setDefaultLoginPage.hide();
                        })
                        .fail(function (data) {
                            $yobi.alert("set Default page failed: " + data);
                        });
            });
        });
    </script>

    <script language="javascript">
        $(function() {
            $yobi.loadModule("organization.Global")
        })
    </script>

    <style type="text/css">
        .site-guide-outer h3.title {
            margin-top: 30px;
        }
        .page-wrap .title_area {
            overflow: hidden;
            margin-top: 14px;
            margin-bottom: 14px;
            padding-bottom: 8px;
            border-bottom: 1px solid #ddd;
        }
        .page-wrap .title_area h2 {
            margin: 0;
            font-size: 1.5em;
            color: #4c4c4c;
            line-height: 30px;
        }
        .site-guide-outer .post-list-wrap {
            margin-bottom: -1px;
        }
        .site-guide-outer .error-wrap {
            border-bottom: 1px solid #ddd;
            margin-bottom: -1px;
        }
        #latests-more {
            margin-top: 20px;
            width: 95%;
        }
        h3 strong {
            font-size: 1.3em;
            color: #FF7332;
        }
        .welcome-table strong {
            color: #3592b5;
        }
        .welcome-table .bubble-wrap strong {
            color: #FF7332;
        }
        .error-wrap p.message {
            font-weight: normal;
            font-size: 14px;
            margin: 20px 0;
        }
    </style>

    }
}